*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}
.container{
    display: flex;
}
.input_panel {
    width: 30vw;
    height: 100vh;
    background-color: #EF9C66;
    overflow: scroll;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.input_panel > *{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    gap: .5vh;
    border-radius: 2vw;
    box-shadow: -.1vw .2vw .5vw ;

}
.input_panel input{
    border-radius: .5vw;
    border: none;
    padding: .5vh 1vw;
}
.cv_panel {
    width: 70vw;
    height: 100vh;
    background-color: #78ABA8;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    overflow: scroll;
}
.header{
    background-color: #EF9C66;
    color: #78ABA8;
    text-shadow: .1vw .2vw .2vw black;
    padding: 1vw;
    border-radius: 2vw;
    text-align: center;
    border: .2vw dashed #78ABA8;
    margin-bottom: 4vh;
}
h2{
    text-align: center;
    background-color: #EF9C66;
    border: .2vw dashed #78ABA8;
    border-radius: 1vw;
    color: #78ABA8;
    text-shadow: 0vw 0vw .4vw black;
}
.educational_experience, .practical_experience{
    border-radius: 1vw;
    display: flex;
    justify-content:start;
    gap: .5vw;
    flex-wrap:wrap;
    padding: 1vw;
}
.ed_ex, .p_ex{
    background-color: #EF9C66;
    border-radius: 1vw;
    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: .4vw -.4vw .2vw #456967;
    overflow: hidden;
    padding-bottom: 1vw;
}
.ed_ex > *, .p_ex > *{
    padding: .5vh 1vw;
}
.ed_ex h3, .p_ex h3{
    background-color: #78ABA8;
    border-bottom: .4vh dashed #EF9C66;
    padding: 1vw;
}